<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">HiWidget</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/all.css}" rel="stylesheet" />
    <link th:href="@{/css/secured.css}" rel="stylesheet" />
    <script th:src="@{/js/system.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="icon" type="image/x-icon" href="@{/favicon.ico}" />
</head>
<body>
<header id="header">
    <div class="container">
        <div class="logo col-sm-4">
            <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="" /></a>
        </div>

        <div class="auth col-sm-7 col-sm-offset-1">
            <div sec:authorize="hasRole('ROLE_USER')">
                <a class="btn btn-orange" th:href="@{/logout}" th:utext="#{link.exit}">Exit</a>
                <p class="b-header__welcome" data-toggle="popover"
                   th:attr="data-content=#{user.realbonusbalance(${#authentication.principal.user.balance}, ${#authentication.principal.user.balanceBonus})}">
                    <span th:utext="#{user.hello}">Hello, </span><a th:href="@{/panel/profile}" class="btn-link">
                        <span sec:authentication="principal.user.username">username</span>
                    </a><br />
                    <a th:href="@{/panel/payments/}"><span th:utext="#{user.yourbalance}"></span>: <span sec:authentication="principal.user.balanceTotal">0</span> <span th:utext="#{rub}"></span></a>
                    <a th:href="@{/panel/pay}" class="payment" th:utext="#{user.addpayment}">add payment</a>
                </p>
            </div>
            <div sec:authorize="! hasRole('ROLE_USER')">
                <a class="btn btn-orange" th:href="@{/login}" th:utext="#{link.login}">Enter</a>
                <a class="btn btn-link" th:href="@{/user/register}" th:utext="#{link.registration}">Registration</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>
<div class="b-dashboard">
    <div class="container">
        <div class="row">
            <div class="b-sidebar col-xs-12 col-sm-3">

                <a th:href="@{/panel/}" th:if="${controllerName == 'PanelController'}" class="b-sidebar__link b-sidebar__link_active" th:utext="#{link.controlpanel}">Control Panel</a>
                <a th:href="@{/panel/}" th:unless="${controllerName == 'PanelController'}" class="b-sidebar__link b-sidebar__link_inactive" th:utext="#{link.controlpanel}">Control Panel</a>

                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/panel/manage/user}" th:if="${controllerName == 'UserController'}" class="b-sidebar__link b-sidebar__link_active" th:utext="#{link.controlpanel.usersmanage}">Users</a>
                    <a th:href="@{/panel/manage/user}" th:unless="${controllerName == 'UserController'}" class="b-sidebar__link b-sidebar__link_inactive" th:utext="#{link.controlpanel.usersmanage}">Users</a>

                    <a th:href="@{/panel/manage/flatpage}" th:if="${controllerName == 'PageController'}" class="b-sidebar__link b-sidebar__link_active" th:utext="#{link.controlpanel.pagesmanage}">Pages</a>
                    <a th:href="@{/panel/manage/flatpage}" th:unless="${controllerName == 'PageController'}" class="b-sidebar__link b-sidebar__link_inactive" th:utext="#{link.controlpanel.pagesmanage}">Pages</a>
                </div>

                <a th:href="@{/panel/payments/}" th:if="${controllerName == 'PaymentController'}" class="b-sidebar__link b-sidebar__link_active" th:utext="#{link.payments}">Payments</a>
                <a th:href="@{/panel/payments/}" th:unless="${controllerName == 'PaymentController'}" class="b-sidebar__link b-sidebar__link_inactive" th:utext="#{link.payments}">Payments</a>

                <a th:href="@{/panel/banner/}" th:if="${controllerName == 'BannerController'}" class="b-sidebar__link b-sidebar__link_active" th:utext="#{link.contactagregation}">Contact Agregation</a>
                <a th:href="@{/panel/banner/}" th:unless="${controllerName == 'BannerController'}" class="b-sidebar__link b-sidebar__link_inactive" th:utext="#{link.contactagregation}">Contact Agregation</a>

                <a href="#" th:if="${page == 'consultant'}" class="b-sidebar__link b-sidebar__link_active"><label class="b-sidebar__link__title" th:utext="#{link.onlineconsultant}">Online Consultant</label> <span class="label label-success" th:utext="#{label.upcoming}">Upcoming</span></a>
                <a href="#" th:unless="${page == 'consultant'}" class="b-sidebar__link b-sidebar__link_inactive"><label class="b-sidebar__link__title" th:utext="#{link.onlineconsultant}">Online Consultant</label> <span class="label label-success" th:utext="#{label.upcoming}">Upcoming</span></a>

                <a href="#" class="b-sidebar__link b-sidebar__link_inactive"><label class="b-sidebar__link__title" th:utext="#{link.chameleon}">Chameleon</label> <span class="label label-success" th:utext="#{label.upcoming}">Upcoming</span></a>
                <a href="#" class="b-sidebar__link b-sidebar__link_inactive"><label class="b-sidebar__link__title" th:utext="#{link.abtests}">A/B Tests</label> <span class="label label-success" th:utext="#{label.upcoming}">Upcoming</span></a>
                <a href="#" class="b-sidebar__link b-sidebar__link_inactive"><label class="b-sidebar__link__title" th:utext="#{link.targetcall}">Target Call</label> <span class="label label-success" th:utext="#{label.upcoming}">Upcoming</span></a>
                <a href="#" class="b-sidebar__link b-sidebar__link_inactive"><label class="b-sidebar__link__title" th:utext="#{link.analytics}">Analytics</label> <span class="label label-success" th:utext="#{label.upcoming}">Upcoming</span></a>
            </div>

            <div layout:fragment="content" class="b-content col-sm-9">

            </div>
        </div>
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <span style="color: #000000" th:utext="'controller: ' + ${controllerName} + ', action: ' + ${controllerAction}"></span>
    </div>
</div>

<footer id="footer">
    <div class="container">
        <div class="col-sm-3">
            &copy; HiWidget 2015
        </div>
        <div class="col-sm-5 b-contacts pull-right">
            <span th:utext="#{label.techsupport}">Tech Support</span>:<br />
            (3822) <strong>94 06 02</strong><br />
            <a href="mailto:info@hiwidget.ru">info@hiwidget.ru</a>
        </div>
    </div>
</footer>

<script th:src="@{/js/layout_panel.js}"></script>


﻿<!-- VK --><script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=AKT9N3f8y11y7GTH*/IO74SSuLFTxzWR5oB6moN8gCXTgK6BrdCNRolaMk8ckaRZSMbvPpE3MPPNTvHgkqh9q9AmGEA1jqJ2bFpoGwmaqdDoInqsfyqwVIdtedDr0mzRvIo4ObFSroRts*fO*ztXkTU9dLyVc7iiB2spUHier0s-';</script><!-- /VK -->
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter30853986 = new Ya.Metrika({id:30853986, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/30853986" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
<!-- GA -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61575031-2', 'auto');
    ga('send', 'pageview');
</script>
<!-- /GA -->
<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
    var _tmr = _tmr || [];
    _tmr.push({id: "2662574", type: "pageView", start: (new Date()).getTime()});
    (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
        ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    })(document, window, "topmailru-code");
</script><noscript><div style="position:absolute;left:-10000px;">
        <img src="//top-fwz1.mail.ru/counter?id=2662574;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
    </div></noscript>
<!-- //Rating@Mail.ru counter -->
<!-- Код тега ремаркетинга Google -->

<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 948143968;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/948143968/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
</body>
</html>
