<!DOCTYPE html>
<html layout:decorator="classpath:/templates/layout" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
    <body>

        <div layout:fragment="content">
            <link th:href="@{/css/spl.css}" rel="stylesheet" />
            <link th:href="@{/css/jquery.minicolors.css}" rel="stylesheet" />

            <h1 th:if="${#httpServletRequest.requestURI == '/panel/user/edit/' + ${user.id} + '/'}" th:utext="#{user.title.edit}"></h1>
            <h1 th:unless="${#httpServletRequest.requestURI == '/panel/user/create'}" th:utext="#{user.title.create}"></h1>

            <form th:action="${action}" method="POST" th:object="${banner}" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-sm-7">
                        <p th:text="#{label.preview}"></p>
                        <div class="b-preview">
                            <div class='b-widget-image' th:if="${banner.image != null}" th:style="'background-image: url(/uploads/' + ${banner.image.id} + ');'"></div>
                            <div class='b-widget-image' th:unless="${banner.image != null}"></div>
                            <div class='b-widget-description' th:style="'background-color: ' + ${banner.backgroundColor} + ';'">

                                <input th:field="*{header}" type="hidden" />
                                <input th:field="*{description}" type="hidden" />

                                <strong class="b-editable" th:utext="${banner.header} ? ${banner.header} : #{banner.label.header}" th:style="'color: ' + (${banner.textColor} ? ${banner.textColor} : '#00000') + ';'" >Form title (click to edit)</strong>
                                <p class="b-editable" th:utext="${banner.description} ? ${banner.description} : #{banner.label.description}" th:style="'color: ' + (${banner.textColor} ? ${banner.textColor} : '#00000') + ';'">Description, write down your offer for the visitor</p>

                                <div class="b-preview-inputs" style="display: none;">
                                    <input class="b-widget-form-control b-widget-form-name" type="text" th:placeholder="#{label.name}" name="name" />
                                    <input class="b-widget-form-control b-widget-form-phone" type="tel" th:placeholder="#{label.tel}" name="phone" />
                                    <input class="b-widget-form-control b-widget-form-email" type="email" th:placeholder="#{label.email}" name="ml" />
                                </div>
                                <a th:utext="#{link.leanmore}" th:style="'background-color: ' + (${banner.buttonColor} ? ${banner.buttonColor} : '#5cb85c') + ';'" class="b-widget-btn b-widget-btn_green b-widget-btn_big b-widget-pull-right" href="#" onclick="return false;"></a>

                                <a th:utext="#{label.notinterested}" th:style="'color: ' + (${banner.textColor} ? ${banner.textColor} : '#00000') + ';'" class="b-widget-btn b-widget-btn_link b-widget-btn_notop b-widget-btn_big b-widget-pull-right" href="#" onclick="spl.closeForm(); return false;"></a>
                            </div>
                        </div>
                        <div class="b-form-customize">
                            <p>
                                <div class="row">
                                    <label th:utext="#{label.imagefield}">Image</label>
                                    <input type="file" name="imageFile" id="imageFile" />
                                </div>
                                <h4 id='loading' >loading..</h4>
                                <div id="message"></div>
                            </p>
                            <p>
                                <span><span th:utext="#{label.backgroundcolor}"></span>: <input th:field="*{backgroundColor}" type="hidden" class="minicolors" value="#ffffff" rel="bg" /></span>
                                <span><span th:utext="#{label.buttoncolor}"></span>: <input th:field="*{buttonColor}" type="hidden" class="minicolors" value="#a7c520" rel="btn" /></span>
                                <span><span th:utext="#{label.textcolor}"></span>: <input th:field="*{textColor}" type="hidden" class="minicolors" value="#000000" rel="text" /></span>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="row">
                            <label class="control-label" th:utext="#{banner.field.type}"></label>
                            <select th:field="*{type}" class="form-control">
                                <option value="1" th:utext="#{banner.field.type.withform}"></option>
                                <option value="0" th:utext="#{banner.field.type.woform}"></option>
                            </select>
                        </div>
                        <div class="row">
                            <label class="control-label required" th:utext="#{banner.field.targetpage}"></label>
                            <input type="text" placeholder="http://" th:field="*{targetPage}" class="form-control" />
                        </div>
                        <div class="row">
                            <label class="control-label" th:utext="#{banner.field.urlto}"></label>
                            <input type="text" placeholder="http://" th:field="*{urlTo}" class="form-control" />
                        </div>
                        <div class="row">
                            <label class="control-label" th:utext="#{banner.field.status}"></label>
                            <select th:field="*{status}" class="form-control">
                                <option value="1" th:utext="#{banner.field.status.active}"></option>
                                <option value="0" th:utext="#{banner.field.status.inactive}"></option>
                            </select>
                        </div>
                        <div class="b-form-customize">
                            <p>
                                <span th:utext="#{banner.label.firtdisplayafter}"></span>
                                <input type="text" class="form-control time" th:field="*{delayFirst}" value="5" />
                                <span th:utext="#{label.seconds}">seconds</span>, <span th:utext="#{label.repeated}">repeated</span>
                                <input name="delayRepeated" type="text" class="form-control time" th:field="*{delayRepeated}" value="60" />
                                <span th:utext="#{label.minutes}">minutes</span>.
                            </p>
                        </div>

                        <input type="submit" th:unless="${action == '/banner/create'}" class="btn btn-orange" th:value="#{button.apply}" name="save" />
                        <input type="submit" th:if="${action == '/banner/create'}"  class="btn btn-orange" th:value="#{button.save}" name="save" />

                        <a class="btn btn-default" th:href="@{'/banner/'}" th:utext="#{button.cancel}">Cancel</a>
                        <a class="btn btn-danger" th:unless="${action == '/banner/create'}" th:href="@{'/banner/delete/' + ${banner.id}}" th:utext="#{button.delete}">Delete</a>
                    </div>
                </div>

            </form>


            <script>
                System.config({
                    meta: {
                        jquery: { format: 'global' },
                        minicolors: { format: 'global', deps: ['jquery']},
                        editable: { format: 'global', deps: ['jquery', 'minicolors']}
                    },
                    paths: {
                        jquery: '/js/jquery.min.js',
                        minicolors: '/js/jquery.minicolors.min.js',
                        editable: '/js/editable.js'
                    }
                });
                Promise.all([
                    System.import('jquery'),
                    System.import('minicolors'),
                    System.import('editable')
                ]).then(function(modules) {
                    var replaceWith = $('<textarea name="tmp1" class="inline"></textarea>'),
                            connectWith = $('input[name="description"]');
                    $('p.b-editable').inlineEdit(replaceWith, connectWith);

                    replaceWith = $('<input name="tmp2" type="text" class="inline" />');
                    connectWith = $('input[name="header"]');
                    $('strong.b-editable').inlineEdit(replaceWith, connectWith);

                    $('.minicolors').minicolors({
                        change: function (hex) {
                            switch ($(this).attr('rel')) {
                                case 'btn':
                                    $('.b-preview .b-widget-btn_green').css('background', hex);
                                    break;
                                case 'text':
                                    $('.b-preview p, .b-preview strong, .b-preview a').css('color', hex);
                                    break;
                                case 'bg':
                                    $('.b-preview').css('background', hex);
                                    break;
                            }
                        }
                    });

                    $('#form_header').bind("change keyup input paste", function() {
                        $('.b-preview strong').text($(this).val());
                    });

                    $('#form_description').bind("change keyup input paste", function() {
                        $('.b-preview p').text($(this).val());
                    });

                }, console.error.bind(console));

            </script>

        </div>
    </body>
</html>