<!DOCTYPE html>
<html layout:decorator="classpath:/templates/layout_panel" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
    <body>
        <div layout:fragment="content">
            <h1><span th:utext="#{payment.title.list}"></span></h1>

            <table class="table">
                <tr>
                    <th th:utext="#{payment.grid.title.date}">Date</th>
                    <th th:utext="#{payment.grid.title.description}">Description</th>
                    <th th:utext="#{payment.grid.title.amount}">Amount</th>
                </tr>

                <tr th:each="split : ${splits}">
                    <td>
                        <p>
                            <span th:utext="${#calendars.format(split.reconcileDate,'HH:mm dd MMMM yyyy')}"></span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span th:utext="#{${split.finTransaction.description}}"></span>
                        </p>
                    </td>
                    <td>
                        <p class="split-increased" th:if="${split.amount &gt; 0}">
                            <span th:utext="${split.amount}"></span>
                        </p>
                        <p class="split-decreased" th:if="${split.amount &lt; 0 or split.amount == 0}">
                            <span th:utext="${split.amount}"></span>
                        </p>
                    </td>

                </tr>
                <tr th:if="${splits == null}"><td colspan="6" th:utext="#{label.noforms}">No forms added</td></tr>
            </table>
        </div>
    </body>
</html>